jicofo {
  jibri {
    # Enable or disable automatic recording. When enabled, recording starts
    # when a user from a predefined set joins and stops when all such users
    # leave.
    auto-record = true
  }
}
